<!-- public/views/home.html -->

<form class="RandomTextForm" role="form">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="input-group">
        <label for="RandomText">Put some words here:</label>
        <input type="text" class="form-control" placeholder="Random Text" ng-model="randomText" aria-describedby="randomText">
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <button type="submit" ng-click="getReverse(randomText)" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>{{reverse}}</h1>
  </div>
</div>
